In [3]:
print("hello world")

hello world

In [4]:
a=input("Kindly enter a number :")

In [6]:
print(a,type(a))

12 <class 'str'>

In [9]:
# casting:-- conversion of one data type to other datatype.
# for example --> int to float , float to int , int to string,etc

In [10]:
a=12   #int
print(a,type(a))

12 <class 'int'>

In [14]:
b=str(a)  #"12"
print(b,type(b))
b

12 <class 'str'>

'12'

In [16]:
# int to float
c=float(a)  #12.0
print(c,type(c))

12.0 <class 'float'>

In [17]:
#float to int

d=12.0
e=int(d)
print(e,type(e))

12 <class 'int'>

In [20]:
# float to string
f=str(d)
print(f,type(f))
f

12.0 <class 'str'>

'12.0'

In [22]:
# string to int
g="12"
h=int(g)
print(h,type(h))

12 <class 'int'>

In [23]:
#interview
# string to int
i="12.0"
k=int(i)
print(k)

ValueError: invalid literal for int() with base 10: '12.0'

In [26]:
#interview
# string to int
i="12.0"
k=float(i)
print(k,type(k))
l=int(k)
print(l,type(l))

12.0 <class 'float'>
12 <class 'int'>

In [27]:
print(int(float(i)),type(int(float(i))))

12 <class 'int'>

In [31]:
input("Kindly enter your num1 :")
input("kindly enter your 2nd number :")

'20'

In [32]:
input("Kindly enter your num1 :")+input("kindly enter your 2nd number :")

'1020'

In [38]:
a=input("Kindly enter your num1 :")
b=input("kindly enter your 2nd number :")
print(a,type(a))
print(b,type(b))
print(a+b)

10 <class 'str'>
20 <class 'str'>
1020

In [39]:
# string to int
a=int(input("Kindly enter your num1 :"))
b=int(input("kindly enter your 2nd number :"))
print(a,type(a))
print(b,type(b))
print(a+b)

10 <class 'int'>
20 <class 'int'>
30

In [40]:
# string to int
a=int(input("Kindly enter your num1 :"))
b=int(input("kindly enter your 2nd number :"))
print(a,type(a))
print(b,type(b))
print(a+b)

ValueError: invalid literal for int() with base 10: '20k'

In [41]:
# string to int
a=int(input("Kindly enter your num1 :"))
b=int(input("kindly enter your 2nd number :"))
print(a,type(a))
print(b,type(b))
print(a+b)

ValueError: invalid literal for int() with base 10: '20.0'

In [42]:
# string to float to int
a=int(float(input("Kindly enter your num1 :")))
b=int(float(input("kindly enter your 2nd number :")))
print(a,type(a))
print(b,type(b))
print(a+b)

20 <class 'int'>
2 <class 'int'>
22

In [43]:
# string to float to int
a=eval(input("Kindly enter your num1 :"))
b=eval(input("kindly enter your 2nd number :"))
print(a,type(a))
print(b,type(b))
print(a+b)

20 <class 'int'>
21 <class 'int'>
41

In [44]:
a=eval(input("Kindly enter your num1 :"))
b=eval(input("kindly enter your 2nd number :"))
print(a,type(a))
print(b,type(b))
print(a+b)

20.0 <class 'float'>
2.0 <class 'float'>
22.0

In [45]:
# value convertible either into int or float
a=eval(input("Kindly enter your num1 :"))
b=eval(input("kindly enter your 2nd number :"))
print(a,type(a))
print(b,type(b))
print(a+b)

NameError: name 'krishna' is not defined

In [46]:
a=input("Kindly enter your num1 :")
b=input("kindly enter your 2nd number :")
print(a,type(a))
print(b,type(b))
print(eval(a)+eval(b))

10.2 <class 'str'>
2.5 <class 'str'>
12.7